<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace用于java代码调用时识别指定xml的mapper文件 -->
<mapper namespace="com.slin.weixin.dao.UserMapper">
    <select id="getUser" resultType="User">
        select
          id,
          user_name AS userName,
          password,
          age
        from t_user where
        id= #{id}
    </select>

    <insert id="addWorker">
        insert into worker (
        ) values(#{id},#{name},#{age})
    </insert>

    <update id="updateWorker">
        update worker set name=#{name} ,age=#{age} where
        id=#{id}
    </update>

    <delete id="deleteWorkerById">
        delete from worker where id=#{id};
    </delete>

</mapper>
